{% extends 'quizzStr.html'%}
{% load static %}
{% load widget_tweaks %}
{% block section1%}


<div class="upcoming-events-outer">
    <div class="contStreaming">
        <div class="container" style="display:flex; justify-items:center; justify-content:center; margin-top:30px;">
            <!-- <img src="{% static 'lib/images/logoODQs-2022.png' %}" style="height:140px;">-->
            <img src="{% static 'lib/images/AtencionClientes.jpg' %}"  width="20%" height="20%" > 
        </div>

        <div class="streaming h-100">
                


            <div class=" container-fluid h-100" id="chatCard">
                <div class="col-lg-12 p-0  align-items-center justify-content-center text-center "><!-- d-flex p-0-->
                   <h1 class="text-center text-white"> Conectados </h1>
                   <br><br>
                   <button onclick="lastUsersConectados(); refreshDatatable();" class="btn  btnBrother" style="background-color: #018fad; color: white;"> Actualizar </button>
                   <br><br>
                   <br><br>
                   
                   <div class="text-center text-black" id="totalContactos" ></div>
                           <br><br>                 
           
                       </div>            
                   </div>
               </div>
               
               <div class="row">
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                       <table id="conectadosDataTable" class="display">
                           <thead>
                               <tr>
                                   <th>Usuario</th>
                                   <th>Región</th>
                               </tr>
                           </thead>
                          
                       </table>
                   </div>
                   <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
               </div>
           



        </div><!-- ens streamig-->
        <br>
        <div class="container" style="display:flex; justify-items:center; justify-content:center;">
            <img src="{% static 'lib/images/logoQ-color.png' %}" style="height:100px;"> 
        </div>

    </div>



{% endblock%}

{% block scripts%}

    <script>

window.onload = function () {
				initConectados();
                lastUsersConectados();

             //setTimeout('LimpiarStyle()',600);
           };

          
           $(document).ready( function () 
           {
               
                $('#conectadosDataTable').DataTable(
                {

                    "ajax": {
                        "url": KEY_QUALITAS_AGENTES_CONFIG.table_quizz_service+"/tabledetails",
                        dataSrc: ''
                    },
                    "columns": [
                        { "data": "nombre" },
                        { "data": "region" },
                        ],
                    "language": {
                            "lengthMenu": "Mostrar _MENU_ registros por pagina",
                            //"zeroRecords": "No hay registros",
                            //"info": "Mostrando pagina _PAGE_ de _PAGES_",
                            "infoEmpty": "No hay informacion",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "paginate": {
                                "first": "Primero",
                                "last": "Ultimo",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            },
                            "emptyTable": "No hay datos disponibles en la tabla",
                            "info": "Mostrando de _START_ al _END_ de  _TOTAL_ registros",
                            "zeroRecords": "No se encontraron coincidencias",
                            "loadingRecords": "Cargando...",
                            "search": "Buscar:",      
                    },
                "searching": true,
                "paging": true,
                "processing": true,  
                             
                /*fixedHeader: {
					header: true,
					footr: true
				}*/
                    
                    
                });
           });
    

</script>
  

{% endblock %}
