{% extends 'home.html'%}

{% load static %}
{% load widget_tweaks %}

{% block addCss%}

<link rel="stylesheet" href="{% static 'lib/css/login/login.css' %}?version=20220119224000">

{% endblock%}

{% block section1 %}
    <section class="ftco-section2">
        {% include 'animationHeader.html' %}
        <div class="container">
            <div class="row justify-content-center justify-items-center contLgInCn2">                
                <div class="col-md-6 col-lg-6" style="display:table;">
                    {% include 'loginInicioConf.html' %}
                </div>
                <div class="col-md-6 col-lg-6 contLogin">
                    <div class="login-wrap py-5" style="width:80%;">
                        <br>
                        <div class="d-flex align-items-center justify-content-center">
                            <p class="text-white text-center prinConf">Tu registro fue exitoso, en breve recibirás un correo de confirmación y liga de acceso para el evento.</p>
                        </div>
                        <br>
                        <div class="d-flex align-items-center justify-content-center">
                            <p class="text-white text-center subConf">Si no visualizas la confirmación en tu bandeja de entrada, revisa en los correos no deseados.</p>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
            <br>
            {% include 'info.html' %}
        </div>
        {% include 'footerQualitas.html' %}        
    </section>

{% endblock %}

{% block scripts %}

<script>
    setTimeout(inicio, 10000);
      
      function inicio()
      {
        location.href ="/";
      }

      
</script>
{% endblock %}

