{% load static %}
<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-3 col-lg-3"> <!-- order-lg-1 -->
                        <div class="site-branding">
                        </div><!-- .site-branding -->
                    </div><!-- .col -->
        
                    <div class="col-9 col-lg-9"> <!--order-2 order-lg-2 -->
                        <nav class="site-navigation">
                            <!-- Hamburger Menu -->
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->
        
                        <ul>
                            <li>
                                <a  class="nav-link font-weight-bold"  onclick="lastUsers();" id="totalContactos"><i class="fas fa-user-alt" style="margin-bottom:0rem;"></i></a>
                            </li>
                                <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        </ul>
                      </nav>
                    </div><!-- .col -->
                </div> <!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .header-bar -->
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                       <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255, 255, 255,0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255, 255, 255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255, 255, 255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="rgb(255, 255, 255)" />
            </g>
        </svg>
    </div>
    <!--Waves end-->

</div>
