{% load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>
        Encuesta Qualitas
    </title>
 
    <style>
 
        /* Styling the Body element i.e. Color,
        Font, Alignment */
        body {
            background-color:  #edb3f3;
            font-family: Verdana;
            text-align: center;
        }
 
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: rgb(228, 224, 224);
            max-width: 500px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
            border-radius: 2%;
        }
 
        /* Styling form-control Class */
        .form-control {
            text-align: left;
            margin-bottom: 25px;
        }
 
        /* Styling form-control Label 
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }*/
        form label {
            font-size: 20px;
        }
        .estrella{
            color: grey;
            margin: 5%;
        }
        .estrella:hover,
        .estrella:hover ~ label {
            color: orange;
        }

 
        /* Styling form-control input,
        select, textarea*/
        .form-control input,
        .form-control select, 
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 10px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
            background-color: rgb(228, 224, 224);
        } 
 
        /* Styling form-control Radio
        button and Checkbox 
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }*/
 
        /* Styling Button */
        button {
            background-color: #df8ae7;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
        }



 
form p {
  text-align: center;
}

input[type="radio"] {
  display: none;
}



.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
.rateL{
    font-size: 9px;
}

    </style>
</head>
  
<body>
    <img src="{% static 'lib/images/logoQ-color.png' %}" style="height: 100px;" >
              
  
    <!-- Create Form -->
    <form id="form">
 
        <!-- Details -->
       
        <div class="form-control">
            <!-- Input Type Email-->
            <input type="email"
                   id="email"
                   placeholder="Enter your email" />
        </div>
  
        <div class="form-control">
            <label for="age" id="label-age">
                1. Pregunta
            </label>
                   <p class="clasificacion">
                    <input  id="radio1" type="radio" name="estrellas1" value="5" style="display: none;"/>
                        <label class="estrella" for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas1" value="4">
                        <label class="estrella" for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas1" value="3"> 
                        <label class="estrella" for="radio3">★</label>  
                        <input id="radio4" type="radio" name="estrellas1" value="2">
                        <label class="estrella" for="radio4">★</label>  
                        <input id="radio5" type="radio" name="estrellas1" value="1">
                        <label class="estrella" for="radio5">★</label>
                   </p>
                    <p class="rateL" style="margin-left: -70%;" >Totalmente</p><p class="rateL" style="margin-left: -70%;">insatisfactorio</p> 
                    <p class="rateL" style="margin-top: -41px; margin-left: -30%;" >Insatisfactorio</p> 
                    <p class="rateL" style="margin-top: -20px;">Neutro</p> 
                    <p class="rateL" style="margin-top: -19px; margin-left: 30%;">Satisfactorio</p>
                    <p class="rateL" style="margin-top: -20px;margin-left: 65%;">Totalmente</p>
                    <p class="rateL" style="margin-left: 65%;"> Satisfactorio</p>
                  


        </div>
        <div class="form-control">
            <label for="age" id="label-age">
                2. Pregunta
            </label>
                   <p class="clasificacion">
                    <input  id="radio21" type="radio" name="estrellas2" value="5" style="display: none;"/>
                        <label class="estrella" for="radio21">★</label>
                        <input id="radio22" type="radio" name="estrellas2" value="4">
                        <label class="estrella" for="radio22">★</label>
                        <input id="radio23" type="radio" name="estrellas2" value="3"> 
                        <label class="estrella" for="radio23">★</label>  
                        <input id="radio24" type="radio" name="estrellas2" value="2">
                        <label class="estrella" for="radio24">★</label>  
                        <input id="radio25" type="radio" name="estrellas2" value="1">
                        <label class="estrella" for="radio25">★</label>

                        <p class="rateL" style="margin-left: -70%;" >Totalmente</p><p class="rateL" style="margin-left: -70%;">insatisfactorio</p> 
                    <p class="rateL" style="margin-top: -41px; margin-left: -30%;" >Insatisfactorio</p> 
                    <p class="rateL" style="margin-top: -20px;">Neutro</p> 
                    <p class="rateL" style="margin-top: -19px; margin-left: 30%;">Satisfactorio</p>
                    <p class="rateL" style="margin-top: -20px;margin-left: 65%;">Totalmente</p>
                    <p class="rateL" style="margin-left: 65%;"> Satisfactorio</p>
                   
        </div>
        <div class="form-control">
            <label for="age" id="label-age">
                3. Pregunta
            </label>
                   <p class="clasificacion">
                    <input  id="radio31" type="radio" name="estrellas3" value="5" style="display: none;"/>
                        <label class="estrella" for="radio31">★</label>
                        <input id="radio32" type="radio" name="estrellas3" value="4">
                        <label class="estrella" for="radio32">★</label>
                        <input id="radio33" type="radio" name="estrellas3" value="3"> 
                        <label class="estrella" for="radio33">★</label>  
                        <input id="radio34" type="radio" name="estrellas3" value="2">
                        <label class="estrella" for="radio34">★</label>  
                        <input id="radio35" type="radio" name="estrellas3" value="1">
                        <label class="estrella" for="radio35">★</label>

                        <p class="rateL" style="margin-left: -70%;" >Totalmente</p><p class="rateL" style="margin-left: -70%;">insatisfactorio</p> 
                    <p class="rateL" style="margin-top: -41px; margin-left: -30%;" >Insatisfactorio</p> 
                    <p class="rateL" style="margin-top: -20px;">Neutro</p> 
                    <p class="rateL" style="margin-top: -19px; margin-left: 30%;">Satisfactorio</p>
                    <p class="rateL" style="margin-top: -20px;margin-left: 65%;">Totalmente</p>
                    <p class="rateL" style="margin-left: 65%;"> Satisfactorio</p>
                   
        </div>
        <button type="submit" value="submit">
            Enviar
        </button>
        
    </form>
</body>
  
</html>