{% load static %}
<div style="display:table-cell;">
    <div class="container" style="margin-top:40px;">
        <div class="row">
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 containerLogoIndex" style="align-self:center;">
                <img src="{% static 'lib/images/curvaBGEscale2.png' %}" alt="logo-odq-2022" class="imgODQ imgLogoIndex" id="logoIndexBGILC">
                <img src="{% static 'lib/images/logocon1.png' %}" alt="logo-odq-2022" class="imgODQ imgLogoIndex" id="imgLogoIndexAgentesBGILC">                  
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
        </div>  
        <h3 class="text-center text-weight-bold" style="color:#0096AE; margin-top:50px;">  21 de Abril </h3>
        <h4 class="text-center text-weight-bold" style="color:#0096AE;"> 11:00 a 13:00 hrs </h4>
        <h4 class="text-center text-weight-bold" style="color:#0096AE;"> (Horario CDMX) </h4>
    </div>
</div>