{% extends 'home.html'%}
{% load static %}
{% load widget_tweaks %}
{% block section1%}


<div class="upcoming-events-outer">
    <div class="contStreaming">
        <div class="container" style="display:flex; justify-items:center; justify-content:center; margin-top:30px;">
            <img src="{% static 'lib/images/logoAgentes.png' %}" style="height:140px;"> 
        </div>
        <br>
        <div class="streaming h-100">
                <div class="videoStreaming containerFirmas" style="width:100%;">
                    <button type="button" class="btn btnCal" onclick="getQuestions()"> Actualizar Preguntas </button>
                    <br>
                    <div class="questionCont" style="overflow:scroll;" id="odQuestion">
                    </div>
                </div>
        </div>
        <br>
        <div class="container" style="display:flex; justify-items:center; justify-content:center;">
            <img src="{% static 'lib/images/logoQ-color.png' %}" style="height:100px;"> 
        </div>

    </div>

{% endblock%}

{% block scripts%}

<script>
    odQuestion=document.getElementById("odQuestion");
    var question,name,region,office;
    getQuestions();
    function getQuestions()
    {
        $.ajax({
            url:'{% url 'getQuestions' %}',
            method: "get",
            dataType: "json",
            success: function(data)
            {
                if(!data.hasOwnProperty('error'))
                {
                    console.log('Preguntas');
                    console.log(data.questions.length);
                    if(data.questions.length)
                    {
                        console.log(data.questions[0].fields);
                        for(var i=0;i<data.questions.length;i++)
                        {
                            console.log(data.questions[i].fields.user);
                            name=data.questions[i].fields.user;
                            question=data.questions[i].fields.question;
                            region=data.questions[i].fields.region;
                            office=data.questions[i].fields.office;
                            showQuestions(i,name,question,region,office);
                        }            
                    }
                }
                else
                {
                    console.log(data.error);
                }
            },
            fail: function(){
            }
        }); 
    }

    function showQuestions(i,nombre,pregunta,regi,oficina)
    {
        console.log(i);
        if(i==0)
        {
            deleteQuestions();
        }
        var divODQ=document.createElement('div');
        divODQ.className="odQuestion";
        odQuestion.appendChild(divODQ);

        var imgQ=document.createElement('img');
        imgQ.className="imgQ";
        imgQ.src = "https://agentesqualitasreunion.mx/static/lib/images/logoAgentes.png";    
        divODQ.appendChild(imgQ);

        var h3Name=document.createElement('h3');
        h3Name.className="h3Name";
        h3Name.innerHTML=(i+1)+".- "+name+" - "+oficina;        
        divODQ.appendChild(h3Name);

        var h1Question=document.createElement('h1');
        h1Question.className="h1Question";
        h1Question.innerHTML=pregunta;        
        divODQ.appendChild(h1Question);        

    }

    function deleteQuestions()
    {
        odQuestion.innerHTML = '';
    }

</script>
  
{% endblock %}
