{% extends 'home.html'%}
{% load static %}
{% load widget_tweaks %}
{% block section1%}
<div>

<div class="upcoming-events-outer">
    <div class="contStreaming">
        <div class="streaming h-100">
                <div class="videoStreaming">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://vimeo.com/event/1157941/embed" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>
                </div>
                <div class="chatStreaming">
                    <div class="headerChat">
                        <ul class="listHeaderChat">
                            <li id="panelChat" class="itemHeaderChat triggerChat active" onclick="viewChat()" >Chat</li>
                            <li id="panelQuestion" class="itemHeaderChat triggerQuestion"  onclick="viewQuestion()">Pregunta al Ponente</li>
                            <li id="panelQuizz" class="itemHeaderChat triggerQuizz quizzTab"  onclick="viewQuizz()">Quizz</li>
                            <li id="panelSurvey" class="itemHeaderChat triggerSurvey surveyTab" onclick="viewSurvey()">Encuesta</li>
                        </ul>
                    </div>

                    <div class="tab-content bodyCol2">
                        <div id="chatStr" class="tab-pane chatStyle active tabEncuesta">
                            <div class="arena-chat" data-publisher="fitness-sitacomm" data-chatroom="UIic5rX" data-position="in-page"></div>
                            <script async src="https://go.arena.im/public/js/arenachatlib.js?p=fitness-sitacomm&e=UIic5rX"></script>
                        </div>
                        <div id="questions" class="tab-pane questionsStyle tabEncuesta contCenter">
                            <div class="container containerPreguntas" style="display: grid; justify-content: center;">
                                <h4 class="titleQuestionPonente" style="color: black;"> Pregunta al ponente</h4>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div id="quizz" class="tab-pane quizzStyle  tabEncuesta contCenter">
                            <div class="quizzContainer">
                                <div id="quizzBegin" id="quizzBegin" style="justify-items: center;">
                                    <br>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="justify-items: center;">
                                            <img src="{% static 'lib/images/multiboleto.png' %}" style="width:100%;"> 
                                        </div>
                                    </div>  
                                    <p class="titleQuizz"> Quiz no disponible</p>   
                                    <p class="titleQuizz"> Espera la instrucccioón del ponente para poder contestar.</p>
                                </div>
                                <div class="quizzBody" id="quizzBody">
                                </div>
                                <div id="quizzDone" id="quizzDone">
                                </div>
                            </div>

                        </div>
                        <div id="survey" class=" tab-pane surveyStyle surveye tabEncuesta">
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock%}

{% block scripts%}
<script>   
</script>
  

{% endblock %}
