{% extends 'homeStr.html'%}
{% load static %}
{% load widget_tweaks %}
{% block section1%}

<div class="upcoming-events-outer">
    <div class="contStreaming">
        <div class="container" style="display:flex; justify-items:center; justify-content:center; margin-top:30px;">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 containerLogoIndex" style="align-self:center;">
                    <img src="{% static 'lib/images/curvaBGEscale2.png' %}" alt="logo-odq-2022" class="imgODQ imgLogoIndex" id="logoIndexBGILC2">
                    <img src="{% static 'lib/images/logocon1.png' %}" alt="logo-odq-2022" class="imgODQ imgLogoIndex" id="imgLogoIndexAgentesBGILC2">                  
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
            </div>      
        </div>
        <br>

        <div class="streaming h-100">
                <div class="videoStreaming">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://vimeo.com/event/1987846/embed" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>
                </div>
                <div class="chatStreaming">
                    <div class="headerChat">
                        <ul class="listHeaderChat">
                            <li id="panelChat" class="itemHeaderChat triggerChat active" onclick="viewChat()" >Chat</li>
                            <li id="panelQuestion" class="itemHeaderChat triggerQuestion"  onclick="viewQuestion()">Pregunta al Ponente</li>
                            <li id="panelQuizz" class="itemHeaderChat triggerQuizz quizzTab"  onclick="viewQuizz()">Quizz</li>
                            <li id="panelSurvey" class="itemHeaderChat triggerSurvey surveyTab" onclick="viewSurvey()">Encuesta</li>
                        </ul>
                    </div>
                    <div class="tab-content bodyCol2">
                        <div id="chatStr" class="tab-pane chatStyle active tabEncuesta" >
                            <div id="chatArena" style="display:none">
                                <!--<input type="hidden"  id="nameArena" name="user" placeholder="email" value="{{request.user.name}}">
                                <div class="arena-chat" data-publisher="odqualitas" data-chatroom="hJRDltU" data-position="in-page"></div>
                                <script async src="https://go.arena.im/public/js/arenachatlib.js?p=odqualitas&e=hJRDltU"></script>  -->
                            </div>                        
                            <div id="chatSitacomm"  style="display:none; height:100%;">
                                <div style="height:100%;">
                                  <div class="panel">
                                        <div class="panel-heading">
                                            <div class="row" style="margin:0px;">
                                                <div class="col-9 white-text nMessages" id="totalMessages"></div>
                                                <div class="col-3 getOldMessages">
                                                    <button type="button" class="btn btn-hdi" data-toggle="dropdown">
                                                        <i class="fa fa-comments-o text-white" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a class="dropdown-item " href="javascript:lastChatMessages();">Mensajes anteriores</a></li>            
                                                        <li class="divider"></li>             
                                                      </ul>
                                                </div>
                                            </div>
                                            
                                            <!--<div class="panel-control">
                                              <div class="btn-group">
                                                <button type="button" class="btn btn-hdi" data-toggle="dropdown">
                                                    <i class="fa fa-comments-o iconQualitas" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                  <li><a class="dropdown-item " href="javascript:lastChatMessages();">Mensajes anteriores</a></li>            
                                                  <li class="divider"></li>             
                                                </ul>
                                              </div>
                                            </div>                                   
                                            <div  id="totalMessages" class="panel-title-total white-text"> </div>-->

                                        </div>
                                          <div id="chat-body" class="collapse in show chatBody">
                                                  <div class="nano has-scrollbar" id="chatContainer" >
                                                    <div class="nano-content pad-all" tabindex="0"  id="chat" style="background:white;">              
                                                    </div>              
                                                  </div>
                                                  <div class="panel-footer" style="background:white;">
                                                    <br>
                                                    <div class="row rowFooter">

                                                        <div class="col-lg-12 " id="div_messageResponse" style=" overflow: auto; ">
                                                            
                                                        </div>

                                                      <div class="col-lg-9">
                                                        <input type="text"  data-emoji="true"  id="message" onkeydown="handleText(event);" placeholder="Escribe tu mensaje..." class="form-control inputMessage" style="border: solid 2px #5f6567; border-radius:25px;"></input><!-- chat-input-->                    
                                                    </div>
                                                      <br>
                                                      <div class="col-lg-3">
                                                        <button class="btn btn-hdi btn-block btnChat"  onClick="handleOnClick()">
                                                         Enviar
                                                        </button>
                                                      </div>                    
                                                    </div>
                                                  </div>                    
                                                <br/>
                                          </div>
                                    </div>                                
                                </div>
                            </div>
    
                                                    
                        </div>

                        <div id="questions" class="tab-pane questionsStyle tabEncuesta contCenter">
                            <div class="container containerPreguntas" style="display: grid; justify-content: center;">
                                <h4 class="titleQuestionPonente" style="color: black;"> Pregunta al ponente</h4>
                                <form action="" method="post" class="contCenter" id="questionForm">
                                        {% csrf_token %}
                                            <input class="hidden" name="action" value="add" hidden>  
                                            <textarea name="question" id="question" rows="10" cols="50" class="textAreaQuestion" placeholder="Escribe tu pregunta"></textarea>
                                            <div class="group"> 
                                                <input class="hidden" name="user" value="{{request.user.name}}" hidden>
                                                <input class="hidden" name="region" value="{{request.user.region}}" hidden>
                                                <input class="hidden" name="office" value="{{request.user.office}}" hidden>

                                            </div>
                                            <div class="group"> 
                                                <input class="hidden" name="email" value="{{request.user.email}}" hidden>
                                            </div>     
                                            <br>                                       
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <div id="alert_placeholderQuestion">
                                                    </div>
                                                </div>
                                            </div> 
                                            <br>
                                            <div class="group"> 
                                                <input class="btn gradient-bg" type="submit" value="Enviar">                                            
                                            </div>
                                            <div class="hr"></div>
                                </form>
                                <br>
                            </div>
                        </div>
                        <div id="quizz" class="tab-pane quizzStyle  tabEncuesta contCenter">
                            <div class="quizzContainer">
                                <div id="quizzBegin" style="justify-items: center;">
                                    <br>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="display:flex; justify-content: center; justify-items: center;">
                                            <img src="{% static 'lib/images/qualitas.png' %}" style="height:90px;"> 
                                        </div>
                                    </div>  
                                    <p class="titleLeyend"> EVENTO VIRTUAL AGENTES 2022</p>   
                                    <p class="titleLeyend">  Espera a que el moderador indique para contestar </p>
                                </div>
                                <div class="quizzBody" id="quizzBody">
                                    <form action="" method="post" id="quizzForm">
                                        {% csrf_token %}
                                        <input class="hidden" name="action" value="add" hidden>  
                                        <input type="hidden"  name="user" placeholder="email" value="{{request.user.name}}">
                                        <input type="hidden"  name="email" placeholder="email" value="{{request.user.email}}">
                                        <input class="hidden" name="region" value="{{request.user.region}}" hidden>
                                        <input class="hidden" name="office" value="{{request.user.office}}" hidden>
                                        <input type="hidden"  name="question" id="idQuizz">
                                        <div class="form-row ">
                                            <div class="form-group col">
                                                <br>
                                                <div id="alert_placeholderQuizz" class="contCenter"></div>
                                            </div>
                                        </div>

                                        <div class="quizzQuestion1">
                                            <br>
                                            <p class="titleSurvey" id="titleQuizz1"> Con el beneficio de la nueva cobertura de Gastos Legales ¿Cuántos UMAS se reembolsan por auto y cuantos por Pick up? </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q1" type="radio" name="answer" value="A"> <span>a) 35 UMAS/175 UMAS </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q1" type="radio" name="answer" value="B"> <span>b) 55 UMAS/175 UMAS </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q1" type="radio" name="answer" value="C"> <span>c) 55 UMAS/170 UMAS </span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="quizzQuestion2">
                                            <br>
                                            <p class="titleSurvey" id="titleQuizz2"> En caso de no cumplir con los requisitos para reembolso de Gastos Legales ¿Cuántos UMAS se reembolsarían? </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q2" type="radio" name="answer" value="A"> <span>a) 30 UMAS </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q2" type="radio" name="answer" value="B"> <span>b) 45 UMAS </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q2" type="radio" name="answer" value="C"> <span>c) 170 UMAS </span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="quizzQuestion3">
                                            <br>
                                            <p class="titleSurvey" id="titleQuizz3"> ¿Qué cubre RC por carga de Batería Autos Eléctricos?</p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q3" type="radio" name="answer" value="A"> <span>a) Si se daña el cargador público que se utiliza para reabastecer la unidad. </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q3" type="radio" name="answer" value="B"> <span>b) El daño del automóvil en el proceso del reabastecimiento </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q3" type="radio" name="answer" value="C"> <span>c) Lesiones y muerte de los acompañantes que se encuentren dentro de la unidad en el reabastecimiento. </span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="quizzQuestion4">
                                            <br>
                                            <p class="titleSurvey" id="titleQuizz4"> ¿Cuáles son los beneficios de la Autoemisión? </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q4" type="radio" name="answer" value="A"> <span>a) Sin costo, simplifica el proceso administrativo, agiliza el tiempo de pago. </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q4" type="radio" name="answer" value="B"> <span>b) Costo bajo, uno mismo genera su factura. </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q4" type="radio" name="answer" value="C"> <span>c) Sin costo, tarda una semana en el pago.  </span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="quizzQuestion5">
                                            <br>
                                            <p class="titleSurvey" id="titleQuizz5"> ¿Dónde puedes encontrar el material de Héroes del Camino? </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q5" type="radio" name="answer" value="A"> <span> a) En Micrositio Conducta vial. </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q5" type="radio" name="answer" value="B"> <span> b) En Portal Q Seguimientos. </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q5" type="radio" name="answer" value="C"> <span> c) En los dos anteriores.  </span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="quizzQuestion6">
                                            <br>
                                            <p class="titleSurvey" id="titleQuizz6"> Herramienta para darle seguimiento a tu siniestro, saber el monto de tu deducible, tramitar y dar seguimiento a tu indemnización </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q6" type="radio" name="answer" value="A"> <span> a) Qemisión </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q6" type="radio" name="answer" value="B"> <span> b) Quali </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q6" type="radio" name="answer" value="C"> <span> c) Qchat  </span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="quizzQuestion7">
                                            <br>
                                            <p class="titleSurvey" id="titleQuizz7"> Nueva herramienta para reportar un siniestro.  </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q7" type="radio" name="answer" value="A"> <span> a) whats app </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q7" type="radio" name="answer" value="B"> <span> b) APP PT </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q7" type="radio" name="answer" value="C"> <span> c) Qmovil  </span>
                                                    </label>
                                            </div>  
                                        </div> 
                                                                                                                                                                                                    
                                        <div class="form-row ">
                                            <div class="form-group col">
                                                <div id="alert_placeholderQuizz" class="contCenter">
                                    
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="footerQuizz contCenter">
                                            <button class="btn gradient-bg" id="submitQuizz" type="submit">Guardar</button>
                                        </div>
                                    </form>  
                                </div>
                                <div id="quizzDone">
                                    <br>
                                    <p class="titleSurvey" id="titleGraph"></p>   
                                    <br>
                                    <div class="container" style="display:grid; justify-content-center; justify-items:center; margin-right:20px;">
                                        <h2 id="labelA">A) </h2>
                                        <div class="bar">
                                        <div class="bar-inner bar-90" id="graphA" data-percent="20%"></div>
                                        </div>
        
                                        <h2 id="labelB">B) </h2>
                                        <div class="bar">
                                            <div class="bar-inner bar-80" id="graphB" data-percent="30%"></div>
                                        </div>
        
                                        <h2 id="labelC">C) </h2>                                        
                                        <div class="bar">
                                            <div class="bar-inner bar-90" id="graphC"data-percent="45%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="survey" class=" tab-pane surveyStyle surveye tabEncuesta">
                            <div class="surveyBegin" id="surveyBegin">
                                <br>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="display: grid; justify-items: center;">
                                        <img src="{% static 'lib/images/qualitas.png' %}" style="height:90px;"> 
                                    </div>
                                </div>  
                                <p class="titleLeyend"> EVENTO VIRTUAL AGENTES 2022 </p>   
                                <p class="titleLeyend"> ¡Como siempre tu opinión es muy importante! </p>   
                                <p class="titleLeyend"> Te esperamos al finalizar el evento para responder la Encuesta </p>   
                        </div>
                            <div class="surveyContainer" id="surveyContainer">
                                <form action="" method="post" id="surveyForm">
                                    
                                    <input class="hidden" name="action" id="actionSurvery" value="add" hidden>  
                                    <input type="hidden"  name="user" id="userSurvery" placeholder="email" value="{{request.user.name}}">
                                    <input type="hidden"  name="email" id="emailSurvery" placeholder="email" value="{{request.user.email}}">
                                    <input class="hidden" name="region" id="regionSurvery" value="{{request.user.region}}" hidden>
                                    <input class="hidden" name="office" id="officeSurvery" value="{{request.user.office}}" hidden>
                                    <div class="form-row ">
                                        <div class="form-group col">
                                            <br>
                                            <div id="alert_placeholderSurvey" class="contCenter"></div>
                                        </div>
                                    </div>
                                    <div class="surveyQuestion1">
                                        <p class="titleSurvey"> 1.Menciona tu experiencia en el uso de la plataforma y la calidad de la transmisión</p>   
                                        <div class="surveyOptions">
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s1" type="radio" name="s1" value="Excelente" onchange="getS1Comment()"> <span>Excelente </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s1" type="radio" name="s1" value="Bueno" onchange="getS1Comment()"> <span>Bueno </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s1" type="radio" name="s1" value="Regular" onchange="getS1Comment()"> <span>Regular</span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s1" type="radio" name="s1" value="Malo" onchange="getS1Comment()"> <span>Malo</span>
                                                </label>
                                                <textarea  name="s1comment" class="textAreaQuestion" placeholder="¿Por qué? *" data-type="text" id='s1comment'  value="" style="display:none;"></textarea>

                                        </div>  
                                    </div>
                                    <div class="surveyQuestion2">
                                        <p class="titleSurvey"> 2.¿El contenido de la informacion Quálitas te pareció de interés y utilidad?</p>   
                                        <div class="surveyOptions">
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s2" type="radio" name="s2" value="Si" onchange="getS2Comment()"> <span>Si </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s2" type="radio" name="s2" value="No" onchange="getS2Comment()"> <span> No </span>
                                                </label>
                                                <textarea  name="s2comment" class="textAreaQuestion" placeholder="¿Por qué? *" data-type="text" id='s2comment'  value="" style="display:none;"></textarea>

                                        </div>  
                                    </div>
                                    <div class="surveyQuestion3">
                                        <p class="titleSurvey"> 3.¿Cómo calificas la presentación del expositor Alex Molina? </p>   
                                        <div class="surveyOptions">
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s3" type="radio" name="s3" value="Excelente" onchange="getS3Comment()"> <span>Excelente </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s3" type="radio" name="s3" value="Bueno" onchange="getS3Comment()"> <span> Bueno </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s3" type="radio" name="s3" value="Regular" onchange="getS3Comment()"> <span>Regular </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s3" type="radio" name="s3" value="Malo" onchange="getS3Comment()"> <span>Malo </span>
                                                </label>
                                                <textarea  name="s3comment" class="textAreaQuestion" placeholder="¿Por qué? *" data-type="text" id='s3comment'  value="" style="display:none;"></textarea>
                                        </div>  
                                    </div>
                                    <div class="surveyQuestion4">
                                        <p class="titleSurvey"> 4.¿Qué temas te gustaría que se incluyeran en próximos eventos?  </p>   
                                        <div class="surveyOptions">
                                            <input type="text" name="s4" class="textAreaQuestion s4" id="s4" placeholder="Escribe tus comentarios.">
                                        </div>  
                                    </div>
                                    <div class="surveyQuestion5">
                                        <p class="titleSurvey"> 5. Regálanos tus comentarios sobre el evento para seguir mejorando. </p>   
                                        <div class="surveyOptions">
                                            <input type="text" name="s5" class="textAreaQuestion s5" id="s5" placeholder="Escribe tus comentarios.">
                                        </div>  
                                    </div>
                                    <div class="form-row ">
                                        <div class="form-group col">
                                            <div id="alert_placeholderSurvey" class="contCenter">

                                            </div>
                                        </div>
                                    </div> 
                                    <div class="footerQuizz contCenter">
                                        <button class="btn gradient-bg" id="nextSurvey">Siguiente</button>
                                        <br>
                                        <button class="btn gradient-bg" id="submitSurvey" type="submit">Guardar</button>
                                    </div>
                                </form>
                                <div id="surveyDone">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="display: grid; justify-items: center;">
                                            <img src="{% static 'lib/images/qualitas.png' %}" style="height:80px;"> 
                                        </div>
                                    </div> 
                                    <p class="titleLeyend"> EVENTO VIRTUAL AGENTES 2022 </p>   
                                    <p class="titleLeyend"> ¡Muchas Gracias, tomaremos en cuenta tus comentarios para mejorar en conjunto!  </p>  
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
        </div>
        <br>
        <div class="container" style="display:flex; justify-items:center; justify-content:center;">
            <img src="{% static 'lib/images/logoQ-color.png' %}" style="height:100px;"> 
        </div>

    </div>



{% endblock%}

{% block scripts%}

    <script>
    var noQuizz=0;
    var porcentaje=0;
    var title;
    var titleQuizz;
    var quizzResponse=0;
    question=document.getElementById("question");

    alertPlace=document.getElementById("alert_placeholderSurvey");

    $('#questionForm').on('submit', function (e) {
        e.preventDefault();
        console.log("parametros");
        if(question.value == "")
        {
            alertQuestion("danger","fa fa-exclamation-triangle","Por favor ingrese una pregunta.");   
        }
        else
        {
            var parameters= $(this).serializeArray();
            console.log(parameters);
            $.ajax({
                url:'{% url 'createQuestion' %}',
                type: 'POST',
                data: parameters,
                dataType:'json'
            }).done( function (data) {
                if(!data.hasOwnProperty('error'))
                {
                    console.log('Pregunta enviada');
                    clearQuestion();
                }
                else
                {
                    listError(data.error);
                }
            }).fail(function (jqXHR, textStatus,errorThrown)
            {
                console.log("Error e");
                console.log(textStatus+ ':'+errorThrown);
            }).always(function (data) {

            });
        }
     });

     $('#nextSurvey').click(function(e){
        e.preventDefault();
        var valid = validate();
        if(valid) {
            noQuizz++;
            console.log("no Quizz ",noQuizz);
            length = 5;
            if(  length  == noQuizz) {
                console.log("step: "+noQuizz);
                jQuery('#nextSurvey').css("display","none");
                jQuery('#submitSurvey').css("display","block");
                noQuizz=0;
            }
            else
            {
                jQuery('.surveyQuestion'+noQuizz).css("display","none");
                jQuery('.surveyQuestion'+(noQuizz+1)).css("display","block");    
            }
        }
    });

    function validate() {
        var auxstep = noQuizz +1;
        type = jQuery('.s'+auxstep).attr('type');
        console.log(type);
        if(type == 'radio'){
            value = jQuery('.s'+auxstep+':checked').val();
            console.log(value);
            if(value=='Malo' || value=='Regular' || value=='No')
            {
                valComment=jQuery('#s'+auxstep+'comment').val();
                console.log(valComment);
                if(valComment=='' || valComment==null)
                {        
                alertPlace.style.display="block";      
                errorValidateSurvey("Por favor agrega una respuesta");
                return false;
                }
            }
            if(value != '' && value != null) {
                alertPlace.style.display="none";       
                return true;
            }
            else
            {
                alertPlace.style.display="block";      
                errorValidateSurvey("Por favor contesta la pregunta");
                return false;                
            }
        }
        else if(type == 'text'){
            value = jQuery('.s'+auxstep).val();             
            if(value == '' || value == null) {
                alertPlace.style.display="block";      
                console.log("Por favor contesta la pregunta");
                errorValidateSurvey("Por favor contesta la pregunta");
            }
            if(value != '' && value != null) {
                console.log(value);
                alertPlace.style.display="none";      
                return true;
            }
        }
        /*else if(type == 'checkbox'){
            if(auxstep==2)
            anS2A= s2Checked(document.getElementById('s2A').checked);     
            anS2B= s2Checked(document.getElementById('s2B').checked);     
            anS2C= s2Checked(document.getElementById('s2C').checked);     
            anS2D= s2Checked(document.getElementById('s2D').checked);     
            console.log(anS2A);
            console.log(anS2B);
            console.log(anS2C);
            console.log(anS2D);

            if(anS2A == 'True' || anS2B == 'True' || anS2C == 'True' || anS2D == 'True') {
                console.log(value);
                return true;            
            }
            else{
                console.log("Por favor eloge una opción");
                errorValidateSurvey("Por favor elige una opción");
                return false; 
            }            
        }*/
        return false;
    }

     $('#surveyForm').on('submit', function (e) {
         e.preventDefault();
         var parameters= $(this).serializeArray();
         parameters=getParameters();
         console.log(parameters);
         $.ajax({
             url:'{% url 'createSurvey' %}',
             type: 'POST',
             data: parameters,
             dataType:'json'
         }).done( function (data) {
             if(!data.hasOwnProperty('error'))
             {         
                console.log(data);        
                jQuery('.surveyQuestion5').css("display","none");
                jQuery('#submitSurvey').css("display","none");
                jQuery('#surveyDone').css("display","block");
                clearSurvey();
             }
             else
             {
                 console.log(data.error)
                /*listError(data.error);      */         
             }             
        }).fail(function (jqXHR, textStatus,errorThrown)
        {
            console.log("Error e");
            console.log(textStatus+ ':'+errorThrown);
        }).always(function (data) {

        }); 
     });

     function initQuizz()
     {
         var quizzBegin=document.getElementById("quizzBegin");
         var quizzBody=document.getElementById("quizzBody");
         var quizzDone=document.getElementById("quizzDone");
         var quizzSub=document.getElementById("submitQuizz");
         var idQuizzInput=document.getElementById("idQuizz");
         quizzResponse=0;
         console.log("Init Quizz Resp.:"+quizzResponse);
         
         parentForm=document.getElementById("quizzForm");
         var children = parentForm.childNodes;                   
         for (var i = 15; i < children.length-5; i+=2) {
          children[i].style.display="none";
         }
         jQuery('#submitQuizz').css("display","none");
         $.ajax({
             url:'{% url 'getQuiz' %}',
             method: "get",
             dataType: "json",
             success: function(data)
             {
                 quizz=data.data;
                 console.log("Quizz Resp."+quizzResponse);
                 console.log("Quizz leído"+quizz);

                 if(quizz==0 || quizz==quizzResponse)
                 {
                     console.log("If 1 quizzinit");
                    quizzBegin.style.display="block";
                    quizzBody.style.display="none";
                    quizzDone.style.display="none";
                    setTimeout(function(){ 
                        readQuizz(quizz);
                        }, 2500);
                }
                 else
                 {
                    console.log("Salto");
                    quizzQuestion=document.getElementsByClassName('quizzQuestion'+quizz)[0];
                    idQuizzInput.setAttribute("value",quizz);
                    titleQuizz=document.getElementById("titleQuizz"+quizz);
                    title=titleQuizz.innerHTML;                               
                    quizzBegin.style.display="none";
                    quizzBody.style.display="block";
                    quizzQuestion.style.display="block";
                    quizzDone.style.display="none";
                    quizzSub.style.display="block";
                }     
             },
             fail: function(){
             },
             beforeSend: function(){
             }
        });    
     
     }     
    
     $('#quizzForm').on('submit', function (e) {
        var quizzSub=document.getElementById("submitQuizz");
        var idQuizzInput=document.getElementById("idQuizz");

        var idQuizz=idQuizzInput.value;
        e.preventDefault();        
        var parameters= $(this).serializeArray();  
        console.log(parameters);
        
        var valueanswer=$('input[name=answer]:checked', '#quizzForm').val()
        console.log("valueanswer", valueanswer);
        if(!valueanswer){
            alert("Proporcione una respuesta");
            return;
        }
        $.ajax({
            url:'{% url 'createQuizz' %}',
            type: 'POST',
            data: parameters,
            dataType:'json'
        }).done( function (data) {
            jQuery('.quizzQuestion'+idQuizz).css("display","none");
            if(!data.hasOwnProperty('error'))
            {
               console.log(data.answers);
               console.log(data.total);
               quizzBegin.style.display="none";
               quizzBody.style.display="none";
               quizzQuestion.style.display="none";
               quizzDone.style.display="block";
               quizzSub.style.display="none";
               orderGraph(data.answers, data.total);
               setTimeout(function(){ 
                readQuizz(idQuizz);
                }, 6000);
            }
            else
            {
                jQuery('.quizzQuestion'+idQuizz).css("display","none");
                console.log("Eror el");
               listError(data.error);
            }
       }).fail(function (jqXHR, textStatus,errorThrown)
       {
           console.log("Error e");
           console.log(textStatus+ ':'+errorThrown);
       }).always(function (data) {
        jQuery('.quizzQuestion'+idQuizz).css("display","none");
       });

    });     

    function readQuizz(quizzParameter)
    {
        console.log("1.- Quizz P:"+quizzParameter);
        var quizzBegin=document.getElementById("quizzBegin");
        var quizzBody=document.getElementById("quizzBody");
        var quizzDone=document.getElementById("quizzDone");
        var quizzSub=document.getElementById("submitQuizz");
        var idQuizzInput=document.getElementById("idQuizz");

        $.ajax({
            url:'{% url 'getQuiz' %}',
            method: "get",
            dataType: "json",
            async: false,
            success: function(data)
            {
                quizzResponse=data.data;  
                console.log("Quizz Response: "+quizzResponse);
               if(quizzResponse==0 || quizzResponse==quizzParameter)
               {
                console.log("Son iguales");
                quizzBegin.style.display="block";
                quizzBody.style.display="none";
                quizzDone.style.display="none";                     
                setTimeout(function(){ 
                    readQuizz(quizzParameter);
                    //readQuizz(quizzResponse);

                }, 2500);
                } 
                else if(quizzResponse!=quizzParameter) 
                {
                   quizzQuestion=document.getElementsByClassName('quizzQuestion'+quizzResponse)[0];
                   idQuizzInput.setAttribute("value",quizzResponse);
                   titleQuizz=document.getElementById("titleQuizz"+quizzResponse);
                   title=titleQuizz.innerHTML;                               
                   quizzBegin.style.display="none";
                   quizzBody.style.display="block";
                   quizzQuestion.style.display="block";
                   quizzDone.style.display="none";
                   quizzSub.style.display="block";
               }    
            },
            fail: function(){
            },
            beforeSend: function(){
            }
        }); 

    }

    function orderGraph(answers,total)
    {
        values=[]
        labels=[]
        for (var [key, value] of Object.entries(answers))
        {
            per=Math.round((value/total)*100);
            labels.push(key+" "+per+"% ");
            values.push(per);
        }
        graphAnswers(values,labels);
        graphLoader();

    }

    function graphAnswers(values,labels){
        labelA=document.getElementById("labelA");
        labelB=document.getElementById("labelB");
        labelC=document.getElementById("labelC");
        labelD=document.getElementById("labelD");
        graphA=document.getElementById("graphA");
        graphB=document.getElementById("graphB");
        graphC=document.getElementById("graphC");
        graphD=document.getElementById("graphD");
        titleGraph=document.getElementById("titleGraph");

        titleGraph.innerHTML=title;

        graphA.setAttribute("data-percent",values[0]+"%");
        graphB.setAttribute("data-percent",values[1]+"%");
        graphC.setAttribute("data-percent",values[2]+"%");
        //graphD.setAttribute("data-percent",values[3]+"%");
    }

    function graphLoader()
    {
        var _bars = [].slice.call(document.querySelectorAll('.bar-inner'));
        _bars.map(function(bar, index) {
          setTimeout(function() {
              bar.style.width = bar.dataset.percent;
          }, index * 500);          
        });            
    }

    function activateSurvey()
    {
        var surveyStatus;
        console.log("Survey...");
        $.ajax({
            url:'{% url 'getSurvey' %}',
            method: "get",
            dataType: "json",
            success: function(data)
            {                
                surveyStatus=data.data;
                if(surveyStatus==0)
                {
                    console.log(surveyStatus);
                    jQuery('#surveyBegin').css("display","none");
                    jQuery('#surveyBody').css("display","block");      
                    jQuery('#nextSurvey').css("display","block");  
                    jQuery('#surveyDone').css("display","none");          
                    jQuery('#surveyContainer').css("display","block");                    
                    jQuery('.surveyQuestion1').css("display","block");          
                }
                else
                {
                    console.log(1);
                    jQuery('#surveyBegin').css("display","none");
                    jQuery('#surveyBody').css("display","block");      
                    jQuery('#nextSurvey').css("display","block");  
                    jQuery('#surveyDone').css("display","none");          
                    jQuery('#surveyContainer').css("display","block");                    
                    jQuery('.surveyQuestion1').css("display","block");                    
                }
            },
            fail: function(){
            },
            beforeSend: function(){
            }
        });   
    }

    function getS1Comment()
    {
        var select = document.querySelector('input[name="s1"]:checked').value;
        if( select == "Malo" || select =="Regular")
        {
          document.getElementById('s1comment').style.display = "block";
        }
        else
        {
          document.getElementById('s1comment').style.display = "none";
        }
    }

    function getS2Comment()
    {
        var select = document.querySelector('input[name="s2"]:checked').value;
        if( select == "No" )
        {
          document.getElementById('s2comment').style.display = "block";
        }
        else
        {
          document.getElementById('s2comment').style.display = "none";
        }
    }


    function getS3Comment()
    {
        var select = document.querySelector('input[name="s3"]:checked').value;
        if( select == "Malo" || select =="Regular")//select == "Regular" ||
        {
          document.getElementById('s3comment').style.display = "block";
        }
        else
        {
          document.getElementById('s3comment').style.display = "none";
        }
    }
  
    function getS5Comment()
    {
        var select = document.querySelector('input[name="s5"]:checked').value;
        if( select == "Malo" || select =="Regular")//select == "Regular" ||
        {
          document.getElementById('s5comment').style.display = "block";
        }
        else
        {
          document.getElementById('s5comment').style.display = "none";
        }
    }      

    function getParameters()
    { 
        //csrf=document.getElementsByName('csrfmiddlewaretoken')[2].value;
        action= $("#actionSurvery").val();
        user= $("#userSurvery").val();
        email= $("#emailSurvery").val();
        region= $("#regionSurvery").val();
        office= $("#officeSurvery").val();
        s1=jQuery('.s1:checked').val();
        s1comment=getS1CommentValue();
        s2=jQuery('.s2:checked').val();
        s2comment=getS2CommentValue();
       /* s2A= s2Checked(document.getElementById('s2A').checked);     
        s2B= s2Checked(document.getElementById('s2B').checked);     
        s2C= s2Checked(document.getElementById('s2C').checked);     
        s2D= s2Checked(document.getElementById('s2D').checked);    */ 
        s3=jQuery('.s3:checked').val();
        s3comment=getS3CommentValue();        
        //s4=jQuery('.s4:checked').val();
        //s5=jQuery('.s5:checked').val();
        
        //s5comment=getS5CommentValue(); 
        s4=$('#s4').val();          
        s5=$('#s5').val();        
        //'csrfmiddlewaretoken':csrf,
        parameters={'action':action,'user':user,'email':email,'region':region,'office':office,'s1':s1,
        's1Comment':s1comment,'s2':s2,'s2Comment':s2comment,'s3':s3,'s3Comment':s3comment,'s4':s4,'s5':s5};

        return parameters;
    }

    function getS1CommentValue()
    {
        var select = document.querySelector('input[name="s1"]:checked').value;
        if( select == "Malo" || select =="Regular")
        {
            return $("#s1comment").val();
        }
        else
        {
            return "";
        }
    }

    function getS2CommentValue()
    {
        var select = document.querySelector('input[name="s2"]:checked').value;
        if( select == "No" )
        {
            return $("#s2comment").val();
        }
        else
        {
            return "";
        }
    }


    function getS3CommentValue() 
    {
        var select = document.querySelector('input[name="s3"]:checked').value;
        if( select == "Malo" || select =="Regular")
        {
            return $("#s3comment").val();
        }
        else
        {
            return "a";
        }
    }

    function getS5CommentValue() 
    {
        var select = document.querySelector('input[name="s5"]:checked').value;
        if( select == "Malo" || select =="Regular")
        {
            return $("#s5comment").val();
        }
        else
        {
            return "a";
        }
    }

    function clearSurvey()
    {
          resetRadioButtons(s1);
          /*document.getElementById('s2A').checked=0;          
          document.getElementById('s2B').checked=0;          
          document.getElementById('s2C').checked=0;          
          document.getElementById('s2D').checked=0;     */   
         
          resetRadioButtons(s2);  
          resetRadioButtons(s3);
          //resetRadioButtons(s4);
          //resetRadioButtons(s5);
          //resetRadioButtons(s2);
          $("#s1comment").val("");
          $("#s2comment").val("");
          $("#s3comment").val("");
          $("#s5").val("");
          $("#s6").val("");
          console.log("Eliminados");
    }

    function resetRadioButtons(groupName) 
    {
        var arRadioBtn = document.getElementsByName(groupName);
        for (var ii = 0; ii < arRadioBtn.length; ii++) {
            var radButton = arRadioBtn[ii];
            radButton.checked = false;
        }
    }

    $('body').on('click','.live-chat-room-input--input--wrapper', function() {
        nombre=document.getElementById("nameArena").value;
        setTimeout(function(){
            const element = document.querySelector('.live-chat-room-input--input--nickname');
            
            if(element){
               
                const event = new Event('input', { bubbles: true });
                const previousValue = element.value;
                element.value = nombre;
                
                element._valueTracker.setValue(previousValue);
                element.dispatchEvent(event);	
            }
        }, 100);
    });    


    $(document).ready(function() {
        initaccess();
        initchat();
        viewChat();
    });

    function s2Checked(element)
    {
        if(element)
            return "True";
        else
            return "False";
    }
</script>
  

{% endblock %}
